.lg-swiper, .lg-swiper-page{
	margin: 0;
	padding: 0;
}

.lg-swiper{
	-webkit-user-select: none;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lg-swiper .lg-swiper-page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
	display: none;
}

.lg-swiper .lg-swiper-page.current{
	z-index: 5;
	display: block;
	will-change: transform;
}

.lg-swiper .lg-swiper-page.active{
	z-index: 4;
	display: block;
	will-change: transform;
}